.montserrat-bold{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.montserrat-regular{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.roboto-regular{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}